/*****BASE STYLES FLEXBOX MOBILE*****/
html {
  font-size: 16px;
  width:100%;
  height:100%;
}

body {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: #1f202b;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
  header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    background: url(../img/brain-mobile.png) no-repeat;
    background-size: cover;
    background-color: #99ff99;
    width: inherit;
    height: 600px;
  }



section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
    font-family: monospace;
    font-size: 2.875em;
    margin: 5px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 4px solid deeppink;

}

h2 {
  font-size: 2.6em;
  padding: 12px;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.6em;
}

p {
  font-size: 1.975em;
}

span {
  color: deeppink;
}

p span:hover {
    color: #99ff99;
}

a {
  text-decoration: none;
}

/*****MOBILE STYLING*****/

.name {
  width: 100%;
  padding: 20px;
  text-align: center;

}

.img-section {
  background: url(../img/brain-hero-full.png);
}

header nav {

	padding: 40px 40px;
}

header nav ul {
	list-style-type: none;
	line-height: 1.875em;
	margin: 0;
	padding: 0;
}

header p {
  font-weight: 700;
  font-size: 7.875em;
  padding: 12px 5px;
  font-family: 'Fredoka One', cursive;
  line-height: .7em;
  margin-bottom: 20px;
}

header nav ul li a{
	text-decoration: none;
	color: deeppink;
}

header nav {

	padding: 40px 40px;
}

.topper nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.topper nav ul li {
    font-weight: 700;
    font-size: 2.3em;
    padding: 0px 10px;
    padding-bottom: 20px;

}
.topper nav ul li a{
	text-decoration: none;
	color: white;
}

.topper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  text-align: center;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 .thumbnail {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 80px;
}

.thumbnail img {
  padding: 20px;
}

.description {
    padding: 0px 80px 80px 80px;
    border-bottom: 1px solid grey;
}


.portfo-one, .portfo-two, .portfo-three {
  width: 100%;
}
.portfo-one p {
  font: 1.875em;
}

.about-me {
  height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background: url(../img/arrows-full.png);
  background-size: cover;
}

.about-me img {
  border: 5px solid black;
  border-radius: 40px;
  margin-top: 30px;
}

.blurb {
  background: #1f202b;
    width: 80%;
    border-radius: 80px;
    padding: 30px;
    margin: 30px;
}

.third-width {
  text-align: center;
  width: 100%;
}

.contact-me {
  flex-wrap: wrap;
  width: 100%;
}

.third-width ul li {
  list-style: none;
  display: inline;
  padding: 30px;
}

.third-width a {
  font-family: 'Montserrat', sans-serif;
  color: #99ff99;
  font-size: 2.1em;

}

.third-width a:hover {
    color: #99ff99;
}
/*****CREATE PAGE*****/
.create p {
  font-size: 5em;
}
/*****DESKTOP*****/
@media all and (min-width:1200px) {

h1 {
  font-size: 1.8em;
  border-bottom: none;
  padding-bottom: 0px;
}



p {
   font-size: 1em;
 }

.topper nav ul li {
  font-size: 1.6em;
  padding-bottom: 0px;
}

.topper {
  flex-wrap: nowrap;
  height: 50px;
  width: 100%;
  border-bottom: 4px solid deeppink;
}
header p {
  font-size: 7.35em;
  margin-bottom: 1px;
  padding-right: 30px;
}
.name {
  text-align: left;
}
header {
background: url(../img/brain-original.png) no-repeat;
background-size: cover;
background-color: #99ff99;
}

.title h2 {
  padding: 0px;

}

.portfolio {
  flex-wrap: nowrap;
  align-items: flex-start;
}
.thumbnail {
  margin-top: 0px;
  display: inherit;
}

.description {
  padding: 10px;
  border-bottom: none;
}
.info {
  padding: 10px;
}

.info h3 {
  font-size: 1.8em;
}

.info h4 {
  font-size: 1.4em;
}

.about-me {
  height: 600px;
  flex-direction: row-reverse;
}

.about-me img {
  margin: 30px;
}

.contact-me {
  flex-wrap: nowrap;
}

.third-width h3 {
  font-size: 1.8em;
}

footer p {
  padding: 20px;
}
}
