body {
  background: #1f202b;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  clear: both;
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 270px;

}

h2 {
    color: #ed1775;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
}

.full-width {
  width: 1200px;
}

.half-width {
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}
/*****GRID*****/
#name {
  float: left;
  font-size: 30px;
  padding-left: 20px;
  width: 500px;
  
}

#menu {
  float: right;

}

#pic {
  clear: both;
}

#column-one {
  float: left;
}

#column-two {
  float: left;
}

#about {
  clear: both;
}

/*****HEADER*****/
nav {
  width: 700px;
}
nav, ul, li, a  {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  margin-left: 5px;
  padding-left: 30px;
  text-decoration: none;



}

  #pic {
  background: url(../img/hero-background.png);
  background-size: cover;
  width: 1400px;

  height: 738px;
}

span {
  color: #ed1775;
}
/*****PORTFOLIO*****/
.description {
  height: 350px;
}
